@model IEnumerable<Northwind.Application.Models.Responses.ProductDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Quantity Per Unit
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Units In Stock
            </th>
            <th>
                Units On Order
            </th>
            <th>
                Reorder Level
            </th>
            <th>
                Discontinued
            </th>
            <th>
                Category
            </th>
            <th>
                Supplier
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsOnOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td class="col-sm-2">
                <div>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                </div>
                <div>
                    <a style="color:green" asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                </div>
                <div>
                    <a style="color:red" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
